* { margin:0; padding:0; box-sizing: border-box; }
body{ font-family: 'Open Sans',sans-serif; font-size: 14px; color: #AAA; background-color:#FFF;}

.header { text-align: center;padding: 15px 0; background-color: #000}
.header h5 {color: #FFF; font-size:1em; padding: 0 5em; letter-spacing: 0.8px; margin: 0;}
.header h5 a { text-decoration: none; color: #FFF; font-weight: 700;display: inline-block}
.fa-2x {text-decoration: none; float: right;color: #FFF; margin: -25px 20px;}

.container { position: relative;}
.mySlides { display: none; }
.slide .w3-button { display: none;}
div:hover .slide .w3-button{ display: block;}
.mySlides .slide1 { position: absolute; top:270px; left: 260px;}
.mySlides .slide2 { position: absolute; top:300px; left: 260px;}
.mySlides .slide1 span h2{font-size:2.5em; color:#888; }
.mySlides .slide1 span h3{font-size:2.8em; color:#000; font-weight: 700;line-height: 1em; letter-spacing: 5px;}
.mySlides .slide1 span h4{font-size:5em; color:#000; margin:0; font-weight:700; }
.mySlides .slide1 span h5 {text-transform: uppercase; color: #000}
.mySlides .slide1 span h5 span { padding: 8px 4px; box-sizing: border-box; background-color:#FFF;font-size:2em;font-weight:700;}
.mySlides .slide1 span h5 span sub {  bottom:0.2em; }
.slide1-button { padding:20px 30px; background-color:#000; color:#FFF; font-weight:700px; font-size:1.3em; line-height: 1; margin-top: 2em;}

.mySlides .slide2 span h1{font-size:3em; color:#000; font-weight: 700;}
.mySlides .slide2 span h2 {position: relative; top: -50px;}
.mySlides .slide2 span h2 .rotate {padding:0; display: inline-block; position:relative; -ms-transform:rotate(-90deg); transform: rotate(-90deg);font-size:0.9em;  color:#000; right:30px;top:-10px}
.mySlides .slide2 span h2 .off { color:#000; font-size: 3em; font-weight: 700; position: relative; left:-0.6em; top: 10px;}
.mySlides .slide2 span h3 { color:#000; position:relative; top: -70px; }
.mySlides .slide2 span h4 { color: #000;font-size:1.5em; font-weight:700;position: relative; top:-50px;}
.mySlides .slide2 span h4 sup { position:relative;top: -15px; font-size:1em; }
.mySlides .slide2 span h4 span{ font-size:2em;}
.mySlides .slide2 .slide2-button { background-color:#000;color:#FFF;padding: 20px 30px;position:relative; font-weight:700;left:280px; top:-125px; }
.logo { position: absolute; top: 40px; left: 70px}
.icon { position: absolute; right:50px; top:30px;}
.icon a {color: #000; font-size:x-large; padding: 0 15px;}
.menu { position: absolute; top: 50px; left: 250px; }

.menu nav ul li { list-style-type: none; float: left; color: #000; font-size: 0.9em; font-weight:600;}
.menu nav ul li a { text-decoration: none; display: block; padding:0 10px; }
.submenu{ background-color:#FFF; position:absolute; width:600px; display: none;}
.submenu img{ width:190px; height:260px; float: right; background-size: cover;}
.has-submenu:hover .submenu {  display: inline-block;}
.has-submenu .submenu tr  { text-align:left;  }
.has-submenu .submenu tr th { position: relative; left: 20px;}
.has-submenu .submenu tr td { text-align: left;position: relative; left:10px; padding-top:6px;}
.submenu1 { width:690px; font-size: 12px; margin:10px; padding: 10px; }
.submenu1 img { height: 200px;}
.submenu1 .submenu tr td { padding: 1.3em; margin: 1em 0;}
.has-submenu .submenu2  { width: 180px; margin:0;padding:0;}
.has-submenu .submenu2  tr td .fas { position:absolute; right:5px;}
.has-submenu .submenu2 tr:hover  td { background-color: #000; color: #fff; transform: all 1.5s;}
.has-submenu1 .submenu21 table { position: absolute; right: -175px; top: -10px; background-color:#FFF; color:#000;}
.submenu21 {display: none; }
.has-submenu td.has-submenu1 .submenu21 tr td {background-color:#FFF; color:#000;}
.has-submenu1:hover .submenu21{ display: block; background-color:#FFF;}
.has-submenu td.has-submenu1 .submenu21 tr:hover td {background-color:#000; color:#FFF;}
.submenu22 table {position: absolute; left:160px;}
.has-submenu td.has-submenu1 .submenu22 tr:hover td {background-color:#000; color:#FFF;}

.product span { position: relative; left: 5px; }
.category span h2 { text-align: center; color: #000; font-size:1em; font-weight: 700; margin-top: 50px; margin-bottom:0px;}

.product span h3 { color: #000; font-size:1.3em;}
.product span p { position: relative;font-size: 0.9em; top:-1em;}
.fashion span h3{position: relative; left: 15px; }

.slides {display: flex;text-align: center; justify-content: center; align-items: center; }
.slides  li { list-style-type: none; width: 220px; height: 260px; background-color:#FFF; margin-top:20px; margin:20px 5px;}
.slides li img {height: 200px;width:220px;position:relative;} 
.slides li a {text-decoration: none;}
.slides li a .product .img {background-color:#FFF;}
.slide-left { position: relative; top:-170px; left: 10px;}
.slide-right { position: relative; top:-180px; left: 1620px;}
 
.shop-product ul { display: flex; text-align: center; justify-content:center; align-items:center; background-color:#ddd; margin-top:40px;}  
.shop-product ul li { width: 22%; height:500px; list-style: none; margin: 60px 10px; background-color: #FFF; position: relative;  }
.shop-product ul .glass-product {background-image: url(./image/home-banner1.jpg); background-size: cover; }
.shop-product ul .glass-product:hover  {opacity:0.7;} 
.shop-product ul .glass-product .sunglass span h3 { color:#000; font-weight: 700; position: relative; top: 350px;left: -50px;}
.shop-product ul .glass-product .sunglass span p { position: relative; top: 340px;left: -75px;}
.shop-product ul .glass-product .sunglass button {  position: relative; top: 350px;left: -73px; background-color:#000; }
.shop-product ul .glass-product .sunglass button a { color:#FFF;; font-weight: 700; padding:10px 20px;display: block; font-size: 0.7em; text-decoration: none;}
.shop-product ul .trend-product { background-image: url(./image/home-banner2.jpg); background-size: cover;}
.shop-product ul .trend-product .cosmetic { position: relative; top: 70px;}
.shop-product ul .trend-product:hover { opacity:0.8;}
.shop-product ul .trend-product .cosmetic span h3 { color:#000; font-weight:700;}
.shop-product ul .trend-product .cosmetic span p { position: relative; top:-15px;}
.shop-product ul .trend-product .cosmetic button { background-color:#000;}
.shop-product ul .trend-product .cosmetic button a { color:#FFF;; font-weight: 700; padding:10px 35px;display: block; font-size: 0.7em; text-decoration: none;}
.shop-product ul .fashion-product:hover {opacity: 0.7;}
.shop-product ul .fashion-product { background-image: url(./image/home-banner3.jpg); background-size: cover;}
.shop-product ul .fashion-product .fashions  { position: relative; top: 200px;}
.shop-product ul .fashion-product .fashions span h3 { color:#FFF; font-size:1.4em; font-weight:700;}
.shop-product ul .fashion-product .fashions span p { position: relative; top:-15px;}
.shop-product ul .fashion-product .fashions button { background-color:#FFF;}
.shop-product ul .fashion-product .fashions button a { text-decoration: none; padding: 8px 15px;font-size:0.8em;display: block; font-weight:700;}
.shop-product ul .bag-product { background-image: url(./image/home-banner4.jpg); background-size: cover;}
.shop-product ul .bag-product:hover { opacity:0.8;}
.shop-product ul .bag-product .bagss { position:relative; top: 320px;left:35px;}
.shop-product ul .bag-product .bagss .up-to { border: 4px solid #000; width:300px; height:130px;}
.shop-product ul .bag-product .bagss .up-to span h3 { font-size:1.2em;color:#000;font-weight:700; padding-top:20px;}
.shop-product ul .bag-product .bagss .up-to span p {position:relative; top:-10px;color:#888}
.shop-product ul .bag-product .bagss button{ background-color:#000; position: relative; top:5px;}
.shop-product ul .bag-product .bagss button a {color:#FFF;text-decoration:none;display:block;font-size:0.8em; padding:20px 60px; position:relative; }

.featured ul { display: flex; margin-left: 60px;margin-top: 30px;  margin-bottom:30px; }
.featured h2 { color:#000; font-size:1.3em;font-weight:700;text-align:center;}
.featured-product li { width: 15%; height: 320px; background-color: #FFF;margin: 0 10px; list-style:none;position: relative;}
.feature img { width: 100%; height:210px;}
.featured .featured-product .feature:hover .cart{ display: inline-block; transition: all 0.25s;}
.featured .featured-product .feature:hover a {opacity:1;transition: all 0.5s; display:block;}
.featured .featured-product .feature a { text-decoration: none;}
.featured .featured-product .feature .line-through { text-decoration: line-through; font-size: 1em; padding-right:10px;}
.featured .featured-product .feature .bold { color:#000; font-weight:700;font-size:1.3em;} 
.featured .featured-product .feature .price { position: absolute; bottom:0;}
.featured .featured-product .feature span h3 { font-size:0.7em;}
.featured .featured-product .feature span h4 { font-size:0.9em; color:#222;}
.featured .featured-product .feature span p { font-size:0.9em; background-color:#e27c7c; color:#FFF;display: inline-block;position: absolute;top:5px; left:5px;padding:0 5px;}
.featured .featured-product .feature .green p {background-color:#62b959;}
.featured .featured-product .feature .option p{ position: absolute; top: 30px; display: inline-block; left:7px; }
.featured .featured-product .feature span .cart { position: absolute;top:20px; right:20px; border: 1px solid #000;border-radius:50%; padding:5px;background-color:#000;color:#FFF; display: none;}
.featured .featured-product .feature span .cart:hover { color:#000; background-color:#FFF;}
.featured .featured-product .feature button a{padding:14px 79px;;position:absolute; top:166px;left:0px;font-size:0.9em; background-color:#000; color:#FFF;opacity:0.3; display:none;}

.servise { margin: 30px 70px; border-top: 1px solid #AAA; text-align: center;}
.custumer {  padding-top: 40px; float: left; width:23%; text-align:center; margin: 0 15px;}
.custumer .fas { color:#000; }
.custumer .far { color:#000;}
.custumer span h2 { color:#000; font-size:1em; font-weight:700; position: relative; top: 10px;}
.custumer span h4 { font-size:1em; color:#888;}

